*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 65vw;
    margin: 0 auto;
}
.picture  {
    background-image: url("https://cdn.dsmcdn.com/seometa/production/banner/national/web-boutique-list-top-tr-TR-1699264524173-SAG_TEPEBANNERAksamBaslyor.jpg");
    height: 60px;
    background-size: cover;
    background-position: center;

        

}
.top-header{
    /* background-color: rgb(0, 0, 0); */
    height: 100%;
}
.top-header-items{
    display: flex;
    column-gap: 30px;
    align-items: center;
    padding-right: 20px;
    float: right;
    list-style: none; 
   
}
.top-header-item{
    align-items: center;
    height: 100%;
    justify-content: center;
}

.top-header-item a{
    color: #999;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;  
}
.top-header-item a:hover{
    color: #5a5555;
}
.bottom-nav{
    display: flex;
    justify-content: space-between;
    height: 60px;
    /* background-color: rgb(255, 255, 255); */
    width: 100%;
    position: relative;
    text-align: center;
    align-items: center;
}
.main-logo{
    width: 200px;
    height: 100%;
    padding-top: 10px;
    
}
.main-nav-items{
    display: flex;
    gap: 40px;
    padding-right: 20px;
    list-style: none;
}
.main-nav-items a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}
.main-nav-items a:hover{
    color: orange;
}
/*  */

.search_box input{
    border: 0;
	outline: none;
}
.search_wrap{
	width: 540px;
}

.search_wrap .search_box{
	position: relative;
	width: 540px;
	height: 40px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
    background-color: rgb(242, 247, 247);
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 100%;
    padding-top: 10px;
    justify-content: center;
}
.last-nav{
    display: flex;
    gap: 40px;
    justify-content: center;
    list-style: none;
    height: 30px;
    margin-top: 10px;
   
}
.last-nav-item a{
    text-decoration: none;
    color: black;
}
.last-nav-item:hover{
    border-bottom: 1px solid;
    color: orange;
    border-width: 2px;

}
.last-nav-item a:hover{
    color: orange;
}
.cirle-nav{
    margin-top: 20px;
    height: 120px;
}
.cirle-nav-module{
    width: 100%;
    position: relative;
    height: 100%;
}
.modules{
    display: flex;
}
.modules-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 115px;
    text-decoration: none;
    color:black ;
}
.modules-item img{
    width: 70px;
}
.modules-item span{
    margin-top: 10px;
}
.modules a:hover{
    color: orange;
    border: 1px solid;
}
